table, th, td {
    border:1px solid black;
}

.product-container {
    border:1px solid black;
    display: flex;
    height: 200px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.product-container > div {
    text-align: center;
    padding: 20px;
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
}